/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2020, 16:33:06
    Author     : DSIC_jsoler
*/

.time-slot {
    -fx-background-color: white, lightgreen ;
    -fx-background-insets: 0, 1 1 1 1 ;
    -fx-cursor: hand;
}

.time-slot-libre{
    -fx-background-color: green, lightgreen ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;

}

.time-slot:selected {
    -fx-background-color: lightslategrey;
}

.date-picker > .text-field {
    -fx-text-fill: green;
}

.table-view .column-header .label {
    -fx-background-color: lightgreen; /* Cambia el color de fondo según tus necesidades */
}
