.togggle-button {
    -fx-background-color:  #2d752f;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.togggle-button:hover {
    -fx-background-color: lightgrey;
}

.togggle-button:selected {
    -fx-background-color: grey;
    -fx-text-fill: #ffffff;
    -fx-cursor: default;
}
